#home {
  box-sizing: initial;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  border-bottom: 2px solid black;
  h1 {
    margin-bottom: 80px;
  }
}

@media only screen and (max-width: 400px) {
  #home {
    h1 {
      font-size: 30px;
    }
  }
}

@media only screen and (max-height: 450px) {
  #home {
    h1 {
      margin-bottom: 0;
    }
  }
}
