@font-face {
  font-family: "yeezy";
  src: url(yeezy.ttf);
}

.app {
  height: 100%;
  font-family: "yeezy";
  display: grid;
  grid-template-columns: 150px 1fr;
  overflow: hidden;
  main {
    height: 100%;
    overflow: scroll;
    scroll-behavior: smooth;
  }
}

@media only screen and (max-width: 1024px) {
  .app {
    grid-template-columns: 50px 1fr;
  }
}
