#about {
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: initial;
  border-bottom: 2px solid black;
  padding: 0 100px;
  h1 {
    position: absolute;
    top: 50px;
    left: 50px;
  }
  section {
    font-size: 20px;
    text-align: center;
    p {
      line-height: 2;
    }
  }
}

@media only screen and (max-width: 600px) {
  #about {
    padding: 0 20px;
  }
}

@media only screen and (max-width: 450px) {
  #about {
    h1 {
      font-size: 20px;
      top: 20px;
      left: 20px;
    }
    section {
      font-size: 16px;
    }
  }
}

@media only screen and (max-height: 450px) {
  #about {
    h1 {
      font-size: 20px;
      top: 20px;
      left: 20px;
    }
    section {
      font-size: 16px;
    }
  }
}
