@-webkit-keyframes pointer {
  50% {
    bottom: 30px;
  }
  100% {
    bottom: 20px;
  }
}

@keyframes pointer {
  50% {
    bottom: 30px;
  }
  100% {
    bottom: 20px;
  }
}

.home {
  position: relative;
  height: 100vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 150px 200px;
  margin: 0 auto;
  max-width: 1440px;
}

.home > button {
  position: absolute;
  top: 20px;
  right: 20px;
}

.home__container {
  padding-bottom: 100px;
  font-size: 40px;
}

.home__greeting {
  margin-bottom: 50px;
  font-weight: 500;
}

.home__intro {
  font-weight: 200;
}

.home__intro > strong {
  font-weight: 500;
}

.home__arrow {
  position: absolute;
  font-size: 50px;
  left: 50%;
  margin-left: -25px;
  bottom: 20px;
  -webkit-animation: pointer 1.5s ease infinite;
          animation: pointer 1.5s ease infinite;
}

.home__email {
  font-size: 25px;
  font-weight: 300;
}

.home__email a:hover {
  text-decoration: none;
}

.home__email span {
  font-size: 40px;
  margin-right: 10px;
}

.hvr-shutter-out-horizontal {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
          box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  background: none;
}

.hvr-shutter-out-horizontal:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #007bff;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-transition-property: transform;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-shutter-out-horizontal:hover,
.hvr-shutter-out-horizontal:focus,
.hvr-shutter-out-horizontal:active {
  color: white;
}

.hvr-shutter-out-horizontal:hover:before,
.hvr-shutter-out-horizontal:focus:before,
.hvr-shutter-out-horizontal:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

@media only screen and (max-width: 1100px) {
  .home {
    padding: 80px;
  }
}

@media only screen and (max-width: 650px) {
  .home__container {
    font-size: 30px;
  }
  .home__arrow {
    font-size: 40px;
    margin-left: -20px;
  }
  .home__email {
    font-size: 15px;
  }
  .home__email span {
    font-size: 20px;
  }
}

@media only screen and (max-width: 450px) {
  .home {
    padding: 50px;
  }
  .home__container {
    padding-bottom: 50px;
    font-size: 20px;
  }
  .home__arrow {
    font-size: 30px;
    margin-left: -15px;
  }
}
/*# sourceMappingURL=Home.css.map */