@keyframes pointer {
  50% {
    bottom: 30px;
  }
  100% {
    bottom: 20px;
  }
}

.home {
  position: relative;
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  padding: 150px 200px;
  margin: 0 auto;
  max-width: 1440px;
  & > button {
    position: absolute;
    top: 20px;
    right: 20px;
  }
  &__container {
    padding-bottom: 100px;
    font-size: 40px;
  }
  &__greeting {
    margin-bottom: 50px;
    font-weight: 500;
  }
  &__intro {
    font-weight: 200;
    & > strong {
      font-weight: 500;
    }
  }
  &__arrow {
    position: absolute;
    font-size: 50px;
    left: 50%;
    margin-left: -25px;
    bottom: 20px;
    animation: pointer 1.5s ease infinite;
  }
  &__email {
    font-size: 25px;
    font-weight: 300;
    a {
      &:hover {
        text-decoration: none;
      }
    }
    span {
      font-size: 40px;
      margin-right: 10px;
    }
  }
}

.hvr-shutter-out-horizontal {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  background: none;
}
.hvr-shutter-out-horizontal:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #007bff;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-shutter-out-horizontal:hover,
.hvr-shutter-out-horizontal:focus,
.hvr-shutter-out-horizontal:active {
  color: white;
}
.hvr-shutter-out-horizontal:hover:before,
.hvr-shutter-out-horizontal:focus:before,
.hvr-shutter-out-horizontal:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

@media only screen and (max-width: 1100px) {
  .home {
    padding: 80px;
  }
}

@media only screen and (max-width: 650px) {
  .home {
    &__container {
      font-size: 30px;
    }
    &__arrow {
      font-size: 40px;
      margin-left: -20px;
    }
    &__email {
      font-size: 15px;
      span {
        font-size: 20px;
      }
    }
  }
}

@media only screen and (max-width: 450px) {
  .home {
    padding: 50px;
    &__container {
      padding-bottom: 50px;
      font-size: 20px;
    }
    &__arrow {
      font-size: 30px;
      margin-left: -15px;
    }
  }
}
