.app > a.fadeIn {
  opacity: 1;
  pointer-events: auto;
}

.app > a {
  position: fixed;
  font-size: 30px;
  right: 20px;
  bottom: 20px;
  text-decoration: none;
  transition: all ease-in 0.5s;
  opacity: 0;
  pointer-events: none;
}

@media only screen and (max-width: 650px) {
  .app > a {
    right: 10px;
    font-size: 20px;
  }
}
